#  Example qudi-core configuration file.
#

global:
  startup_modules: []

hardware:
  dummy_translation_stage:
    module.Class: 'translation_stage.dummy_translation_stage.DummyXYStage'

logic:
  roi_logic:
    module.Class: 'roi_logic.RoiLogic'
    connect:
      stage: 'dummy_translation_stage'

gui:
  roi_gui:
    module.Class: 'roi_manager.roi_gui.RoiGui'
    connect:
      roi_logic: 'roi_logic'
