#  Example qudi-core configuration file.
#

global:
  startup_modules: []

hardware:
    dummy_translation_stage:
        module.Class: 'multi_axis_translation_stage.dummy_multi_axis_stage.DummyMultiAxisStage'
        options:
            x_min: -1000
            x_max: 1000
            y_min: -1000
            y_max: 1000
            z_min: 0
            z_max: 200
            delay_after_move: 0.5
            first_axis_label: 'x'
            second_axis_label: 'y'
            third_axis_label: 'z'

    dummy_valve:
        module.Class: 'fluidics_valve.dummy_valve.DummyValve'
        options :
            com_port: '/dev/ttyUSB0'
            num_valves: 3
            daisychain_ID:
                - 'a'
                - 'b'
                - 'c'
            name:
                - 'Buffer 8-way valve'
                - 'RT rinsing 2-way valve'
                - 'Syringe 2-way valve'
            number_outputs:
                - 8
                - 2
                - 2
            valve_positions:
                - - '1'
                  - '2'
                  - '3'
                  - '4'
                  - '5'
                  - '6'
                  - '7'
                  - '8'
                - - '1: Rinse needle'
                  - '2: Inject probe'
                - - '1: Syringe'
                  - '2: Pump'

    dummy_flowboard:
        module.Class: 'fluidics_pump.dummy_flowboard.DummyFlowboard'
        options:
          pressure_channel_IDs:
            - 0
          sensor_channel_IDs:
            - 0

#    pi_multi_axis_stage:
#        module.Class: 'multi_axis_translation_stage.PI_multi_axis_stage.PIMultiAxisStage'
#        options:
#            connection_mode: 'individual'
#            axes:
#              r:
#                controller_name: 'C-863'
#                serialnumber: '0105500972'
#                stage_name: null
#                type: 'linear'
#                reference_mode: 'FNL'
#                velocity_max: 20000.0  # µm/s
#
#              phi:
#                controller_name: 'C-867'
#                serialnumber: '0111005330'
#                stage_name: null
#                type: 'rotation'
#                reference_mode: 'FRF'
#                velocity_max: 20000.0  # µm/s
#
#              z:
#                controller_name: 'C-863'
#                serialnumber: '0185500777'
#                stage_name: null
#                type: 'linear'
#                reference_mode: 'FNL'
#                velocity_max: 20000.0  # µm/s

    dummy_pipetting_robot:
        module.Class: 'interfuse_hardware.pipetting_robot.PipettingRobot'
        connect:
            motor: 'dummy_translation_stage'
        options:
            grid: 'cartesian'
            first_axis: 'x'
            second_axis: 'y'
            z_axis: 'z'
            z_safety_position: 40.0
            parking_position:
                x: 0.0
                y: 0.0
                z: 0.0
            park_on_deactivate: true
            tube_types:
                - '2mL flat tube'
                - '2mL round tube'
            pos1_x_default: 13.0
            pos1_y_default: 4.0
            pos1_z_default:
                - 88.0
                - 87.0
            exp_setup: 'dummy'
            max_number_tubes : 100

    dummy_daq:
        module.Class: 'daq.dummy_daq.DummyDaq'
        options:
          read_write_timeout: 10
          ao_channels:
            # piezo_write:
            #   - '/Dev1/AO1'  # physical channel on the daq
            #   - [0, 10]  # voltage range defined by the spec of the connected device. Max range is [-10, 10] V.
            rinsing_pump:
              - '/Dev1/AO0'
              - [0, 10]
            # laser_405:
            #   - '/Dev1/AO0'
            #   - [0, 10]
          ai_channels:
            # piezo_read:
            #   - '/Dev1/AI0'
            #   - [0, 10]
          do_channels:
            start_acquisition: '/Dev1/port0/line7'
          di_channels:
            acquisition_done: '/Dev1/port0/line8'

    daq_laser:
        module.Class: 'interfuse_hardware.daq_laser_controller.DaqLaserController'
        connect:
            daq: 'dummy_daq'
        options:
          laser_channels:
            laser1:
              wavelength: '405 nm'
              daq_task: 'laser_405'

    rinsing_pump:
        module.Class: 'interfuse_hardware.daq_pump_controller.DaqPumpController'
        connect:
            daq: 'dummy_daq'
        options:
          output_task: 'rinsing_pump'
          stop_voltage: 0
          rinsing_voltage : 3

logic:

    fluidics_valve_logic:
        module.Class: 'fluidics_valve_logic.FluidicsValveLogic'
        connect:
            valve: 'dummy_valve'

    fluidics_flow_logic:
        module.Class: 'fluidics_flow_logic.FluidicsFlowLogic'
        options:
          default_pressure_channel: 0
          default_sensor_channel: 0
          sampling_interval: 1.0
          p_gain: 0.005
          i_gain: 0.01
          d_gain: 0.0
          pid_sample_time: 0.1
          pid_output_min: 0
          pid_output_max: 15
        connect:
          flowboard: 'dummy_flowboard'
          rinsing_pump : 'rinsing_pump'

    roi_logic:
        module.Class: 'roi_logic.RoiLogic'
        connect:
            stage: 'dummy_translation_stage'

    pipetting_robot_logic:
        module.Class: 'fluidics_robot_logic.FluidicsRobotLogic'
        connect:
            robot: 'dummy_pipetting_robot'
        options:
            z_safety_position: 40
            first_axis: 'x'
            second_axis: 'y'
            third_axis: 'z'
            grid: 'cartesian'
            movement_poll_interval: 0.5  # is s - to probe the stage position

    task_runner_logic:
        module.Class: 'taskrunner_logic.TaskRunnerLogic'
        options:
            module_tasks:

                TestTask:
                    module.Class: 'qudi.tasks.dummy_fluidics_task.TestTask'
                    connect:
                        pipetting_robot_logic: 'pipetting_robot_logic'
                        valve_logic: 'fluidics_valve_logic'
                        flowcontrol_logic: 'fluidics_flow_logic'


                TestTask2:
                  module.Class: 'qudi.tasks.dummy_fluidics_task.TestTask2'
                  connect:
                    pipetting_robot_logic: 'pipetting_robot_logic'
                    valve_logic: 'fluidics_valve_logic'
                    flowcontrol_logic: 'fluidics_flow_logic'

gui:
    fluidics_gui:
        module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
        connect:
            valve_logic: 'fluidics_valve_logic'
            flowcontrol_logic: 'fluidics_flow_logic'
            pipetting_logic: 'pipetting_robot_logic'

    roi_gui:
        module.Class: 'roi_manager.roi_gui.RoiGUI'
        connect:
            roi_logic: 'roi_logic'
        options:
            stagemarker_width: 300
            default_path: 'C:\\Users\\CBS\qudi_files\qudi_roi_lists'

    task_runner_gui:
        module.Class: 'taskrunner.task_runner_gui.TaskRunnerGui'
        connect:
            task_runner: 'task_runner_logic'
