#  Example qudi-core configuration file.
#

global:
  startup_modules: []

# -----------------------------------------------------------------------------------------------------
# HARDWARE setup - indicate all hardware and interfuse backends connected to the instrument
# -----------------------------------------------------------------------------------------------------

hardware:
    dummy_camera:
      module.Class: 'camera.dummy_camera.CameraDummy'
      options:
        camera_name: 'Dummy camera'
        resolution:
          - 512
          - 512
        temperature_control: False
        gain_control: False
        mechanical_shutter: False
        support_live_acquisition: False
        frame_transfer: False
        default_exposure: 0.05  # in s
        default_acquisition_mode: 'Dynamic Range'  # for 16-bit images
        default_trigger_mode: 'INTERNAL'
        default_exposure_out_mode: 'ALL_ROWS'
        max_N_images_movie: 200

    dummy_translation_stage:
        module.Class: 'multi_axis_translation_stage.dummy_multi_axis_stage.DummyMultiAxisStage'
        options:
            x_min: -1000
            x_max: 1000
            y_min: -1000
            y_max: 1000
            z_min: 0
            z_max: 100000
            delay_after_move: 0.5
            first_axis_label: 'x'
            second_axis_label: 'y'
            third_axis_label: 'z'

    dummy_valve:
        module.Class: 'fluidics_valve.dummy_valve.DummyValve'
        options :
            com_port: '/dev/ttyUSB0'
            num_valves: 3
            daisychain_ID:
                - 'a'
                - 'b'
                - 'c'
            name:
                - 'Buffer 8-way valve'
                - 'RT rinsing 2-way valve'
                - 'Syringe 2-way valve'
            number_outputs:
                - 8
                - 2
                - 2
            valve_positions:
                - - '1'
                  - '2'
                  - '3'
                  - '4'
                  - '5'
                  - '6'
                  - '7'
                  - '8'
                - - '1: Rinse needle'
                  - '2: Inject probe'
                - - '1: Syringe'
                  - '2: Pump'

    dummy_flowboard:
        module.Class: 'fluidics.dummy_flowboard.DummyFlowboard'
        options:
          pressure_channel_IDs:
            - 0
          sensor_channel_IDs:
            - 0

    dummy_pipetting_robot:
        module.Class: 'interfuse_hardware.pipetting_robot.PipettingRobot'
        connect:
            motor: 'dummy_translation_stage'
        options:
            exp_setup: 'dummy'
            grid: 'cartesian'  # 'polar'
            x_positions: 10
            y_positions: 10
            delta_x: 14900.0  # in µm
            delta_y: 14900.0  # in µm
            delta_r: 0  # in µm
            delta_phi: 0  # in degree

            first_axis: 'x'
            second_axis: 'y'
            z_axis: 'z'

            z_safety_position: 40000.0
            parking_position:
                x: 0.0
                y: 0.0
                z: 0.0
            park_on_deactivate: true

            tube_types:
                - '2mL flat tube'
                - '2mL round tube'
            pos1_axis_1_default: 13000.0
            pos1_axis_2_default: 4000.0
            pos1_axis_3_default:
                - 88000.0
                - 87000.0

    dummy_daq:
        module.Class: 'daq.dummy_daq.DummyDaq'
        options:
          read_write_timeout: 10
          ao_channels:
            # piezo_write:
            #   - '/Dev1/AO1'  # physical channel on the daq
            #   - [0, 10]  # voltage range defined by the spec of the connected device. Max range is [-10, 10] V.
            rinsing_pump:
              - '/Dev1/AO0'
              - [0, 10]
            laser_405:
              - '/Dev1/AO1'
              - [0, 10]
            laser_488:
              - '/Dev1/AO2'
              - [ 0, 10 ]
            laser_561:
              - '/Dev1/AO3'
              - [ 0, 10 ]
            laser_640:
              - '/Dev1/AO4'
              - [ 0, 10 ]
          ai_channels:
            # piezo_read:
            #   - '/Dev1/AI0'daq_laser
            #   - [0, 10]
          do_channels:
            start_acquisition: '/Dev1/port0/line7'
          di_channels:
            acquisition_done: '/Dev1/port0/line8'

    daq_laser:
        module.Class: 'interfuse_hardware.daq_laser_controller.DaqLaserController'
        connect:
            daq: 'dummy_daq'
        options:
          laser_channels:
            405:
              daq_task: 'laser_405'
            488:
              daq_task: 'laser_488'
            561:
              daq_task: 'laser_561'
            640:
              daq_task: 'laser_640'


    rinsing_pump:
        module.Class: 'interfuse_hardware.daq_pump_controller.DaqPumpController'
        connect:
            daq: 'dummy_daq'
        options:
          output_task: 'rinsing_pump'
          stop_voltage: 0
          rinsing_voltage : 3

    dummy_filter_wheel:
      module.Class: 'filter_wheel.dummy_filter_wheel.DummyFilterWheel'
      options:
        filter_definitions:
          - position: 1
            name: 700 +/- 37 nm
            allowed_wavelengths_nm:
              - 405
              - 488
              - 561
              - 640

          - position: 2
            name: 600 +/- 25 nm
            allowed_wavelengths_nm:
              - 405
              - 488
              - 561
              - 640

          - position: 3
            name: 488 - 491 / 561 nm
            allowed_wavelengths_nm:
              - 405
              - 488
              - 561
              - 640

          - position: 4
            name: 525 +/- 22.5 nm
            allowed_wavelengths_nm:
              - 405
              - 488
              - 561
              - 640

          - position: 5
            name: 617 +/- 36 nm
            allowed_wavelengths_nm:
              - 405
              - 488
              - 561

          - position: 6
            name: 460 +/- 25 nm
            allowed_wavelengths_nm:
              - 405
              - 561
              - 640

# -----------------------------------------------------------------------------------------------------
# LOGIC setup - indicate all logics that are required for controlling the instrument
# -----------------------------------------------------------------------------------------------------

logic:

  camera_logic:
    module.Class: 'camera_logic.CameraLogic'
    connect:
      hardware: 'dummy_camera'
    options:
      fileformat_list:
        - 'tif'
        - 'ome-tif'
        - 'fits'
        - 'npy'
        - 'hdf5'

  laser_control_logic:
    module.Class: 'laser_control_logic.LaserControlLogic'
    connect:
      filter_wheel: 'dummy_filter_wheel'
      laser: 'daq_laser'
    options:
      optical_path:
        dichroic_ref: ZT405-488-561-640rpc
        dichroic_allowed_wavelengths_nm:
          - 405
          - 488
          - 561
          - 640

  filter_wheel_logic:
    module.Class: 'filter_wheel_logic.FilterWheelLogic'
    connect:
      laser_logic: 'laser_control_logic'
      filter_wheel: 'dummy_filter_wheel'

  fluidics_valve_logic:
      module.Class: 'fluidics_valve_logic.FluidicsValveLogic'
      connect:
          valve: 'dummy_valve'

  fluidics_flow_logic:
      module.Class: 'fluidics_flow_logic.FluidicsFlowLogic'
      options:
        default_pressure_channel: 0
        default_sensor_channel: 0
        sampling_interval: 1.0

        p_gain: 0.005
        i_gain: 0.01
        d_gain: 0.0
        pid_sample_time: 0.1
        pid_output_min: 0
        pid_output_max: 15

        rinsing_valve_positions:
          a: 3
          b: 2
        restore_valves_after_rinsing: True
      connect:
        flowboard: 'dummy_flowboard'
        rinsing_pump : 'rinsing_pump'

  roi_logic:
      module.Class: 'roi_logic.RoiLogic'
      connect:
          stage: 'dummy_translation_stage'

  pipetting_robot_logic:
      module.Class: 'fluidics_robot_logic.FluidicsRobotLogic'
      connect:
          robot: 'dummy_pipetting_robot'
      options:
          movement_poll_interval: 0.5  # is s - to probe the stage position

  injections_configurator_logic:
    module.Class: 'injections_configurator_logic.InjectionsLogic'
    options:
      buffer_valve_address: 'a'
      probe_valve_outlet: 7
    connect:
      valve_logic : 'fluidics_valve_logic'
      robot_logic : 'pipetting_robot_logic'

  experiments_configurator_logic:
    module.Class: 'experiment_configurator_logic.ExpConfigLogic'
    connect:
      camera_logic: 'camera_logic'
      laser_logic: 'laser_control_logic'
      filter_logic: 'filter_wheel_logic'
    options:
      experiment_definitions_directory: '/home/jb/Repositories/qudi-core-HiM/custom_config/custom_experiments_config/dummy/'
      experiments:
          - 'sequential_injections.yaml'
          - 'him_ramm.yaml'
          - 'him_epi_sd.yaml'
          - 'him_confocal_sd.yaml'
          - 'photobleaching_ramm.yaml'
          - 'multicolour_imaging_palm.yaml'
          - 'multicolour_scan_palm.yaml'
          - 'multicolour_scan_ramm.yaml'
          - 'multicolor_scan_sd.yaml'
          - 'roi_multicolour_scan_palm.yaml'
          - 'roi_multicolour_scan_ramm.yaml'
          - 'roi_multicolour_scan_sd.yaml'
          - 'roi_multicolour_scan_confocal.yaml'
          - 'paint_ramm.yaml'
          - 'timelapse_palm.yaml'
          - 'timelapse_ramm.yaml'
          - 'fast_timelaspe_ramm.yaml'
          - 'hubble_ramm.yaml'
      supported fileformats:
          - 'tif'
          - 'npy'
          - 'h5'
      default path imagedata: '/home/jb/qudi/dummy_data/'
      default network path: '/mnt/aguila/'

  task_runner:
    module.Class: 'taskrunner_logic.TaskRunnerLogic'
    options:
      module_tasks:
        dummy_fluidics:
          module.Class: 'qudi.tasks.dummy_fluidics_task.TestTask'
          connect:
            pipetting_robot: pipetting_robot_logic
            fluidics_valve: fluidics_valve_logic
            fluidics_flow: fluidics_flow_logic

# -----------------------------------------------------------------------------------------------------
# GUI setup - indicate all user-interface available for the current setup
# -----------------------------------------------------------------------------------------------------

gui:
    basic_imaging:
      module.Class: 'basic_imaging.basic_imaging_gui.BasicImagingGUI'
      connect:
        laser_logic: 'laser_control_logic'
        filter_wheel_logic: 'filter_wheel_logic'
        camera_logic: 'camera_logic'
      options:
          default_path: '/home/jb/qudi/dummy_data/'
          metadata_template: '/home/jb/Repositories/qudi-core-HiM/custom_config/custom_metadata_templates/Spinning_Disk_setup.cfg'

    fluidics_gui:
        module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
        connect:
            valve_logic: 'fluidics_valve_logic'
            flowcontrol_logic: 'fluidics_flow_logic'
            pipetting_logic: 'pipetting_robot_logic'

    roi_gui:
        module.Class: 'roi_manager.roi_gui.RoiGUI'
        connect:
            roi_logic: 'roi_logic'
        options:
            stagemarker_width: 300
            default_path: '/home/jb/qudi/roi_lists/'

    injection_configurator_gui:
      module.Class: 'injections_setup.injections_gui.InjectionsGUI'
      connect:
        injection_logic: 'injections_configurator_logic'
      options:
        default_path: "/home/jb/qudi/injections_configurations/"

    experiments_configurator_gui:
      module.Class: 'experiments_setup.exp_configurator_gui.ExpConfiguratorGUI'
      connect:
        experiment_logic: 'experiments_configurator_logic'
      options:
        default_path: "/home/jb/qudi/"
        default_roi_path: '/home/jb/qudi/roi_lists/'
        default_injections_path: '/home/jb/qudi/injections_configurations/'

    task_runner_gui:
        module.Class: 'task_runner.task_runner_gui.TaskRunnerGui'
        connect:
            task_runner: 'task_runner_logic'


