#  Example qudi-core configuration file.
#

global:
  startup_modules: []

# -----------------------------------------------------------------------------------------------------
# HARDWARE setup - indicate all hardware and interfuse backends connected to the instrument
# -----------------------------------------------------------------------------------------------------

hardware:

# High-level hardware
# -------------------

  tiger:
    module.Class: 'multi_axis_translation_stage.tiger_ASI.Tiger'
    options:
      com_port: 'COM6'  #'/dev/ttyUSB0'
      baud_rate: 115200
      card_address: 7
      first_axis_property:
        label: 'x'
        max_velocity: 7500.0  # µm/s
      second_axis_property:
        label: 'y'
        max_velocity: 7500.0  # µm/s
      third_axis_property:
        label: 'z'
        max_velocity: 1900.0  # µm/s
      LED connected: True


  daq_laser:
    module.Class: 'interfuse_hardware.daq_laser_controller.DaqLaserController'
    connect:
      daq: 'nidaq_6259'
    options:
      laser_channels:
        laser1:
          wavelength: '405 nm'
          daq_task: 'laser_405'

# Low-level hardware
# --------------------
  nidaq_6259:
    module.Class: 'daq.dummy_daq.DummyDaq'  # 'daq.NI_daq.NIDAQ'
    options:
      read_write_timeout: 10
      ao_channels:
        # piezo_write:
        #   - '/Dev1/AO1'  # physical channel on the daq
        #   - [0, 10]  # voltage range defined by the spec of the connected device. Max range is [-10, 10] V.
        rinsing_pump:
          - '/Dev1/AO0'
          - [ 0, 10 ]
        # laser_405:
        #   - '/Dev1/AO0'
        #   - [0, 10]
      ai_channels:
      # piezo_read:
      #   - '/Dev1/AI0'
      #   - [0, 10]
      do_channels:
        start_acquisition: '/Dev1/port0/line7'
      di_channels:
        acquisition_done: '/Dev1/port0/line8'

# -----------------------------------------------------------------------------------------------------
# LOGIC setup - indicate all logics that are required for controlling the instrument
# -----------------------------------------------------------------------------------------------------

logic:
  fluidics_valve_logic:
    module.Class: 'fluidics_valve_logic.FluidicsValveLogic'
    connect:
      valve: 'hamilton_valve'

  fluidics_flow_logic:
    module.Class: 'fluidics_flow_logic.FluidicsFlowLogic'
    options:
      default_pressure_channel: 0
      default_sensor_channel: 0
      sampling_interval: 1.0

      p_gain: 0.005
      i_gain: 0.01
      d_gain: 0.0
      pid_sample_time: 0.1
      pid_output_min: 0
      pid_output_max: 15

      rinsing_valve_positions:
        b: 1
      restore_valves_after_rinsing: True

    connect:
      flow_sensor: 'fluigent_flow_sensor'
      fluidics_pump: 'fluigent_pump'
      rinsing_pump : 'rinsing_pump'
      valve_logic : 'fluidics_valve_logic'

  roi_logic:
    module.Class: 'roi_logic.RoiLogic'
    connect:
      stage: 'ms2000'
    options:
      x_axis_label: 'x'
      y_axis_label: 'y'
      z_axis_label: 'z'

  pipetting_robot_logic:
    module.Class: 'fluidics_robot_logic.FluidicsRobotLogic'
    connect:
      robot: 'dummy_pipetting_robot'
    options:
      z_safety_position: 40
      first_axis: 'x'
      second_axis: 'y'
      third_axis: 'z'
      grid: 'cartesian'
      movement_poll_interval: 0.5  # is s - to probe the stage position

  task_runner:
    module.Class: 'taskrunner_logic.TaskRunnerLogic'
    options:
      module_tasks:
        dummy_fluidics:
          module.Class: 'qudi.tasks.dummy_fluidics_task.TestTask'
          connect:
            pipetting_robot: pipetting_robot_logic
            fluidics_valve: fluidics_valve_logic
            fluidics_flow: fluidics_flow_logic

# -----------------------------------------------------------------------------------------------------
# GUI setup - indicate all user-interface available for the current setup
# -----------------------------------------------------------------------------------------------------

gui:
  fluidics_gui:
    module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
    connect:
      valve_logic: 'fluidics_valve_logic'
      flowcontrol_logic: 'fluidics_flow_logic'

  roi_gui:
    module.Class: 'roi_manager.roi_gui.RoiGUI'
    connect:
      roi_logic: 'roi_logic'
    options:
      stagemarker_width: 300
      default_path: 'C:\\Users\\CBS\qudi_files\qudi_roi_lists'

  task_runner_gui:
    module.Class: 'task_runner.task_runner_gui.TaskRunnerGui'
    connect:
      task_runner: 'task_runner'