#  Example qudi-core configuration file.
#

global:
  startup_modules: []

hardware:
  celesta:
    module.Class: 'laser.lumencor_celesta.LumencorCelesta'
    options:
        ip: '192.168.201.200'
        wavelengths :
            - "405 nm"
            - "477 nm"
            - "546 nm"
            - "638 nm"
            - "750 nm"

  ms2000:
    module.Class: 'translation_stage.MS2000_ASI.MS2000'
    options:
        com_port: '/dev/ttyUSB0'
        baud_rate: '9600' #'115200'
        first_axis_label: 'x'
        second_axis_label: 'y'
        third_axis_label: 'z'
        delay_after_move: 0.5
        LED connected: True

  hamilton_valve:
    module.Class: 'fluidics_valve.hamilton_valve.HamiltonValve'
    options :
        com_port: '/dev/ttyUSB0'
        num_valves: 3
        daisychain_ID:
            - 'a'
            - 'b'
            - 'c'
        name:
            - 'Buffer 8-way valve'
            - 'RT rinsing 2-way valve'
            - 'Syringe 2-way valve'
        number_outputs:
            - 8
            - 2
            - 2
        valve_positions:
            - - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '8'
            - - '1: Rinse needle'
              - '2: Inject probe'
            - - '1: Syringe'
              - '2: Pump'

  pi_stage:
    module.Class: 'fluidics_pipetting_robot.PI_pipetting_robot.PIPipettingRobot'
    options:
        daisychain_connection: True
        serialnumber_master:  '0019550121'
        first_axis_controllername: 'C-863'
        second_axis_controllername: 'C-863'
        third_axis_controllername: 'C-863'
        first_axis_label: 'x'
        second_axis_label: 'y'
        third_axis_label: 'z'
        first_axis_daisychain_id: 2  # number of the device in the daisy chain (sorted by increasing serial number of the controller)
        second_axis_daisychain_id: 3
        third_axis_daisychain_id: 1
        first_axis_type: 'linear'
        second_axis_type: 'linear'
        third_axis_type: 'linear'

  fluigent_flowboard:
    module.Class: 'fluidics_pump.fluigent_flowboard.FluigentFlowboard'
    options:
        pressure_channel_IDs:
            - 0
        sensor_channel_IDs:
            - 0

 nidaq_6259:
   module.Class: 'daq.NI_daq.NIDAQ'
   options:
       read_write_timeout: 10
       ao_voltage_range: [0, 10]

  ao_channels:
      piezo_write: '/Dev1/AO1'
      pump_write: '/Dev1/AO0'
#      laser_405: '/Dev1/AO0'
#      laser_488: '/Dev1/AO2'
#      laser_561: '/Dev1/AO1'
#      laser_641: '/Dev1/AO3'

  ai_channels:
      piezo_read: '/Dev1/AI0'

  do_channels:
      start_acquisition: '/Dev1/port0/line7'

  di_channels:
      acquisition_done: '/Dev1/port0/line8'


logic:
  fluidics_valve_logic:
    module.Class: 'fluidics_valve_logic.FluidicsValveLogic'
    connect:
      valve: 'hamilton_valve'

  fluidics_flow_logic:
    module.Class: 'fluidics_flow_logic.FluidicsFlowLogic'
    options:
      default_pressure_channel: 0
      default_sensor_channel: 0
      sampling_interval: 1.0
      p_gain: 0.005
      i_gain: 0.01
      d_gain: 0.0
      pid_sample_time: 0.1
      pid_output_min: 0
      pid_output_max: 15
    connect:
      flowboard: 'fluigent_flowboard'

  roi_logic:
    module.Class: 'roi_logic.RoiLogic'
    connect:
      stage: 'ms2000'

gui:
  fluidics_gui:
    module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
    options:
      tube_type:
        - '2mL flat tube'
        - '2mL round tube'
      pos1_x_default: 13.0
      pos1_y_default: 4.0
      pos1_z_default:
        - 88.0
        - 87.0
      exp_setup: 'RAMM'
    connect:
      valve_logic: 'fluidics_valve_logic'
      flowcontrol_logic: 'fluidics_flow_logic'

  roi_gui:
    module.Class: 'roi_manager.roi_gui.RoiGUI'
    connect:
      roi_logic: 'roi_logic'
    options:
        stagemarker_width: 300
        default_path: 'C:\\Users\\CBS\qudi_files\qudi_roi_lists'
