#  Example qudi-core configuration file.
#

global:
  startup_modules: []

hardware:
  celesta:
    module.Class: 'laser.lumencor_celesta.LumencorCelesta'
    options:
      ip: '192.168.201.200'
      wavelengths:
        - "405 nm"
        - "477 nm"
        - "546 nm"
        - "638 nm"
        - "750 nm"

  ms2000:
    module.Class: 'multi_axis_translation_stage.MS2000_ASI.MS2000'
    options:
      com_port: '/dev/ttyUSB0'
      baud_rate: '9600'  # '115200'
      first_axis_property:
        label: 'x'
        max_velocity: 7500.0  # µm/s
      second_axis_property:
        label: 'y'
        max_velocity: 7500.0  # µm/s
      third_axis_property:
        label: 'z'
        max_velocity: 1900.0  # µm/s
      LED connected: True

  hamilton_valve:
    module.Class: 'fluidics_valve.hamilton_valve.HamiltonValve'
    options:
      com_port: '/dev/ttyUSB0'
      num_valves: 3
      daisychain_ID:
        - 'a'
        - 'b'
        - 'c'
      name:
        - 'Buffer 8-way valve'
        - 'RT rinsing 2-way valve'
        - 'Syringe 2-way valve'
      number_outputs:
        - 8
        - 2
        - 2
      valve_positions:
        - - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
        - - '1: Rinse needle'
          - '2: Inject probe'
        - - '1: Syringe'
          - '2: Pump'

  fluigent_sdk:
    module.Class: 'fluidics.fluigent_sdk.FluigentSDK'

  fluigent_flow_sensor:
    module.Class: 'interfuse_hardware.fluigent_flow_sensor.FluigentFlowSensor'
    connect:
      sdk: 'fluigent_sdk'
    options:
      unit: "µl/min"
      sensor_channel_IDs:
        - 0

  fluigent_pump:
    module.Class: 'interfuse_hardware.fluigent_pump.FluigentPump'
    connect:
      sdk: 'fluigent_sdk'
    options:
      kind: "pressure"
      unit: "mbar"
      minimum: 0.0
      maximum: 50.0
      pressure_channel_IDs:
        - 0

  pi_multi_axis_stage:
    module.Class: 'multi_axis_translation_stage.pi_multi_axis_stage.PIMultiAxisStage'
    options:
      connection_mode: 'daisychain'
      master_axis: 'z'
      master_serialnumber: '0019550121'

      axes:
        x:
          controller_name: 'C-863'
          stage_name: null
          type: 'linear'
          reference_mode: 'FNL'
          daisychain_id: 2
          velocity_max: 20000.0

        y:
          controller_name: 'C-863'
          stage_name: null
          type: 'linear'
          reference_mode: 'FNL'
          daisychain_id: 3
          velocity_max: 20000.0

        z:
          controller_name: 'C-863'
          stage_name: null
          type: 'linear'
          reference_mode: 'FNL'
          daisychain_id: 1
          velocity_max: 20000.0

  pipetting_robot:
    module.Class: 'interfuse_hardware.pipetting_robot.PipettingRobot'
    connect:
      motor: 'pi_multi_axis_stage'
    options:
      first_axis: 'x'
      second_axis: 'y'
      z_axis: 'z'
      z_safety_position: 40.0
      parking_position:
        x: 0.0
        y: 0.0
        z: 0.0
      park_on_deactivate: false

  nidaq_6259:
    module.Class: 'daq.dummy_daq.DummyDaq'  # 'daq.NI_daq.NIDAQ'
    options:
      read_write_timeout: 10
      ao_channels:
        # piezo_write:
        #   - '/Dev1/AO1'  # physical channel on the daq
        #   - [0, 10]  # voltage range defined by the spec of the connected device. Max range is [-10, 10] V.
        rinsing_pump:
          - '/Dev1/AO0'
          - [0, 10]
        # laser_405:
        #   - '/Dev1/AO0'
        #   - [0, 10]
      ai_channels:
        # piezo_read:
        #   - '/Dev1/AI0'
        #   - [0, 10]
      do_channels:
        start_acquisition: '/Dev1/port0/line7'
      di_channels:
        acquisition_done: '/Dev1/port0/line8'

  daq_laser:
    module.Class: 'interfuse_hardware.daq_laser_controller.DaqLaserController'
    connect:
      daq: 'nidaq_6259'
    options:
      laser_channels:
        laser1:
          wavelength: '405 nm'
          daq_task: 'laser_405'

  rinsing_pump:
    module.Class: 'interfuse_hardware.daq_pump_controller.DaqPumpController'
    connect:
      daq: 'nidaq_6259'
    options:
      kind: "voltage"
      unit: "V"
      minimum: 0.0
      maximum: 3.0
      output_task: 'rinsing_pump'


logic:
  fluidics_valve_logic:
    module.Class: 'fluidics_valve_logic.FluidicsValveLogic'
    connect:
      valve: 'hamilton_valve'

  fluidics_flow_logic:
    module.Class: 'fluidics_flow_logic.FluidicsFlowLogic'
    options:
      default_pressure_channel: 0
      default_sensor_channel: 0
      sampling_interval: 1.0
      p_gain: 0.005
      i_gain: 0.01
      d_gain: 0.0
      pid_sample_time: 0.1
      pid_output_min: 0
      pid_output_max: 15
    connect:
      flow_sensor: 'fluigent_flow_sensor'
      fluidics_pump: 'fluigent_pump'
      rinsing_pump : 'rinsing_pump'

  roi_logic:
    module.Class: 'roi_logic.RoiLogic'
    connect:
      stage: 'ms2000'
    options:
      x_axis_label: 'x'
      y_axis_label: 'y'
      z_axis_label: 'z'

  pipetting_robot_logic:
    module.Class: 'fluidics_robot_logic.FluidicsRobotLogic'
    connect:
      robot: 'dummy_pipetting_robot'
    options:
      z_safety_position: 40
      first_axis: 'x'
      second_axis: 'y'
      third_axis: 'z'
      grid: 'cartesian'
      movement_poll_interval: 0.5  # is s - to probe the stage position

  task_runner:
    module.Class: 'qudi.logic.taskrunner.TaskRunnerLogic'
    options:
      module_tasks:
        dummy_fluidics:
          module.Class: 'qudi.tasks.dummy_fluidics_task.DummyFluidicsTask'
          connect:
            pipetting_robot_logic: pipetting_robot_logic
            valve_logic: fluidics_valve_logic
            flowcontrol_logic: fluidics_flow_logic


gui:
  fluidics_gui:
    module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
    options:
      tube_type:
        - '2mL flat tube'
        - '2mL round tube'
      pos1_x_default: 13.0
      pos1_y_default: 4.0
      pos1_z_default:
        - 88.0
        - 87.0
      exp_setup: 'RAMM'
    connect:
      valve_logic: 'fluidics_valve_logic'
      flowcontrol_logic: 'fluidics_flow_logic'

  roi_gui:
    module.Class: 'roi_manager.roi_gui.RoiGUI'
    connect:
      roi_logic: 'roi_logic'
    options:
      stagemarker_width: 300
      default_path: 'C:\\Users\\CBS\qudi_files\qudi_roi_lists'

  task_runner_gui:
    module.Class: 'qudi.gui.taskrunner.task_runner_gui.TaskRunnerGui'
    connect:
      task_runner: taskrunner
