#  Example qudi-core configuration file.
#

global:
  startup_modules: []

hardware:
  celesta:
    module.Class: 'laser.lumencor_celesta.LumencorCelesta'
    options:
      ip: '192.168.201.200'
      wavelengths:
        - "405 nm"
        - "446 nm"
        - "477 nm"
        - "520 nm"
        - "546 nm"
        - "638 nm"
        - "750 nm"

  ms2000:
    module.Class: 'multi_axis_translation_stage.MS2000_ASI.MS2000'
    options:
      com_port: '/dev/serial/by-id/usb-Silicon_Labs_CP2101_USB_to_UART_Bridge_Controller_0001-if00-port0'
      baud_rate: '9600'  # '115200'
      first_axis_property:
        label: 'x'
        max_velocity: 7500.0  # µm/s
      second_axis_property:
        label: 'y'
        max_velocity: 7500.0  # µm/s
      LED connected: false

  hamilton_valve:
    module.Class: 'fluidics_valve.hamilton_valve.HamiltonValve'
    options:
      com_port: '/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0'
      num_valves: 2
      daisychain_ID:
          - 'a'
          - 'b'
      name:
          - 'Buffer 8-way valve'
          - 'RT rinsing 2-way valve'
      number_outputs:
          - 8
          - 2
      valve_positions:
          - - '1'
            - '2'
            - '3'
            - '4'
            - '5'
            - '6'
            - '7'
            - '8'
          - - '1: Inject probe'
            - '2: Rinse needle'

  fluigent_flowboard:
    module.Class: 'fluidics_pump.fluigent_flowboard.FluigentFlowboard'
    options:
      pressure_channel_IDs:
        - 0
      sensor_channel_IDs:
        - 0

  pi_multi_axis_stage:
      module.Class: 'multi_axis_translation_stage.PI_multi_axis_stage.PIMultiAxisStage'
      options:
          connection_mode: 'individual'
          axes:
            r:
              controller_name: 'C-863'
              serialnumber: '0105500972'
              stage_name: null
              type: 'linear'
              reference_mode: 'FNL'
              velocity_max: 20000.0  # µm/s

            phi:
              controller_name: 'C-867'
              serialnumber: '0111005330'
              stage_name: null
              type: 'rotation'
              reference_mode: 'FRF'
              velocity_max: 20000.0  # µm/s

            z:
              controller_name: 'C-863'
              serialnumber: '0185500777'
              stage_name: null
              type: 'linear'
              reference_mode: 'FNL'
              velocity_max: 20000.0  # µm/s